@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color:#EEE;
    font-family:'Lato',  sans-serif;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;
}
.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li{
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a{
    color:#17203F;
    text-shadow: 0 0 5px #9f9f9f;
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.8s ease;
}

.desktop-menu ul li a:hover{
    color:#aab5e8;
    text-shadow: 0 0 5px #84abff;
    font-weight: 400;
    text-decoration: underline;
}
.models {
    display:none;
}

header {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:60px;
    background-color:#cde7f2;
    display:flex; /* none; */
    justify-content:space-between; /* flex-end; */
    align-items: center;
}

header h1 {
    margin-left: 1rem;
    color: #fff;
}

.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #D6DBDF ;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-openner span {
    margin-right:10px;
}

.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}

aside {
    background-color:#add8e6;
    width:0vw;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .2s;
    overflow-x:hidden;
}

aside.show {
    width:30vw;
}

.cart--area {
    margin-top: 30px; /* ajuste */
    padding:20px;
}

.cart--area h1 {
    display: relative;
}

main {
    flex:1;
    padding:20px;
    margin-top:60px;
}

h1, h2 {
    font-family:'Hepta Slab', Helvetica, Arial;
    text-align: center;
}

.joia-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.joia-item {
    text-align: center;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}

.joia-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}

.joia-item--img {
    width:200px;
    height:200px;
    background-color:#EEE;
    border-radius:100px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);
}

.joia-item--img img {
    width:100%;
    height:auto;
}

.joia-item--add {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#add8e6;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}

.joia-item a:hover .pizza-item--add {
    background-color:#1B3B56;
}

.joia-item--price {
    font-size:15px;
    color:#333;
    margin-top:5px;
}

.joia-item--name {
    font-size:20px;
    font-weight: bold;
    color:#000;
    margin-top:5px;
}

.joia-item--desc {
    font-size:13px;
    color:#555;
    margin-top:10px;
}

.joiaWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}

.joiaWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}

.joiaBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.joiaBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}

.joiaBig img {
    height:400px;
    width:auto;
}

.joiaInfo {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}

.joiaInfo h1 {
    margin-top:50px;
}

.joiaInfo .joiaInfo--desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}

.joiaInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}

.joiaInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}

.joiaInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}

.joiaInfo--size:hover {
    background-color:#CCC;
}

.joiaInfo--size.selected {
    background-color:#1B3B56;
    color:#FFF;
}

.joiaInfo--size.selected span {
    color:#D6D6D6;
}

.joiaInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}

.joiaInfo--price {
    display:flex;
    align-items:center;
}

.joiaInfo--actualPrice {
    font-size:28px;
    margin-right:30px;
}

.joiaInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.joiaInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.joiaInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.joiaInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}

.joiaInfo--addButton:hover {
    background-color:#32a345;
}

.joiaInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}

.joiaInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}

.cart {
    margin-bottom:20px;
}

.cart--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}

.cart--item img {
    width:40px;
    height:40px;
    margin-right:20px;
}

.cart--item-nome {
    flex:1;
}

.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #d32f2f;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}

.cart--totalitem span:first-child {
    font-weight: bold;
}

.cart--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}

.cart--finalizar {
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}

.cart--finalizar:hover {
    background-color:#35af4a;
}

@media (max-width:1000px) {
    .joia-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .joia-area {
        display:block;
    }
    .joia-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    /*
    main {
        padding-top:60px;
    }
    */
    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .cart--area {
        width:100vw;
    }

    .menu-closer {
        display:block;
    }

    .joiaWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .joiaWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .joiaBig img {
        width: 75%;
        height: auto;
    }

    .joiaInfo h1 {
        margin-top:20px;
    }

    .joiaInfo--qtarea {
        height:60px;
    }
    
    .joiaInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }

    .joiaInfo--qt {
        line-height: 60px;
        font-size:20px;
    }

    .joiaInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .joiaInfo--cancelButton {
        display:none;
    }

    .joiaInfo--cancelMobileButton {
        display:block;
    }

}

@media (max-width:450px) {
    header h1 {
        font-size: 1.5rem;
    }
    .menu-openner {
        font-size: 1.5rem;
    }
}

@media (max-width:380px) {
    header h1 {
        font-size: 1rem;
    }
    .menu-openner {
        font-size: 1.5rem;
    }
}

#img-logo {
    width: 50px;
}